country=US
ctrl_interface=DIR=/run/wpa_supplicant GROUP=netdev
ap_scan=1

network={
    ssid="{{ ssid }}"
    key_mgmt=WPA-PSK
    psk="{{ psk }}"
    priority=20
}

network={
    ssid="{{ backup_ssid }}"
    key_mgmt=WPA-PSK
    psk="{{ backup_psk }}"
    priority=10
}

